* {
  font-family: "Verdana", "Geneva", "Tahoma", sans-serif;
  background-color: lightgray;
}

img {
  width: 300px;
  height: auto;
}

p {
  color: rgb(62, 8, 26);
}

h1 {
  color: white;
  background-color: rgb(22, 53, 42);
  margin: 0 auto;
  padding: 20px 100px;
}

h2 {
  color: white;
  background-color: rgb(65, 6, 73);
}

a {
  text-decoration: none;
}

#smoothie-image {
  height: 400px;
  width: auto;
}

.recipe-list {
  list-style-type: none;
  text-align: center;
}

.recipe-header {
  text-align: center;
}

.recipe-button {
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  padding: 10px 30px;
  cursor: pointer;
  font-weight: bolder;
  color: white;
  background-color: rgb(22, 53, 42);
  border: rgb(from color r g b);
  border-radius: 15px;
}

.recipe-li {
  margin: 30px;
  padding: 30px;
  background-color: rgb(182, 163, 183);
}

.ingredients {
  font-size: 18px;
  font-weight: bold;
  color: white;
  background-color: violet;
}

.steps {
  font-size: 20px;
  font-family: "Times New Roman", Times, serif;
  color: rgb(179, 0, 255);
}
